{% extends "list/base.html" %}
{% block content %}
{% if list %}
<table class="table table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <th>Item</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    {% for item in list.item_set.all %}
    <tr>
      <td>{{ item.name }}</td>
      <div><td id="editableamount" data-name="amount" data-placeholder="{{ item.amount }}" data-type="number" data-pk="{{ item.id }}" data-url="/post" data-original-title="Enter amount">{{ item.amount }}</td></div>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}


<link href="{{ STATIC_URL }}bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
<script src="{{ STATIC_URL }}bootstrap-editable/js/bootstrap-editable.js"></script>
<script>
  $('#editableamount').editable();
</script>

{% endblock %}
